
@typeparam TEntity where TEntity : BaseEntity

<QuickGrid Class="table" Items="Entities">
    @foreach (var p in typeof(TEntity).GetProperties()) {
		@if (!show(p)) continue;
        <TemplateColumn title="@p.Name" Context="x" >
			@value(p, x)
        </TemplateColumn>
	}

    <TemplateColumn Context="x">
        <a href="@($"{BasePath}/edit?id={x.Id}")">Edit</a> |
        <a href="@($"{BasePath}/details?id={x.Id}")">Details</a> |
        <a href="@($"{BasePath}/delete?id={x.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    [Parameter] public IQueryable<TEntity> Entities { get; set; }
    [Parameter] public string BasePath { get; set; }

    private string value(PropertyInfo p, TEntity e) {
        var v = p.GetValue(e);
        return v?.ToString() ?? String.Empty;
    }
    private bool show(PropertyInfo p) {
        if (p is null) return false;
        var t = p.PropertyType;
		if (t == typeof(string)) return true;
        if (typeof(IEnumerable).IsAssignableFrom(t)) return false;
		if (p.Name == nameof(NamedEntity.Id)) return false;
		if (t.IsClass && t != typeof(string)) return false;
		if (t.IsArray) return false;
        return true;
	}
}
